<footer class="no-print">
    <div class="grid-fluid">
        <div class="footer-block col-md-3 ">
            <div class="footer-block-heading">CONTACT US</div>
            <ul class="contact">
                <li>
                    <div class="phone col-md-1">
                        <img src="../../assets/smartphone.png" alt="" >
                    </div>
                    <div  class="phone-tag col-md-2">
                        <p>
                            +919061957710 <br>
                            +919605151784
                        </p>
                    </div>
                </li>
                <li>
                    <div class=" email col-md-1 ">
                        <img src="../../assets/email.png" alt="">
                    </div>  
                    <div class="email-tag col-md-2">
                        <p>
                            rohanperingathara@gmail.com <br>
                            rohanbperi@gmail.com
                        </p>
                    </div>
                </li> 
            </ul>  
        </div>
        <div class="footer-block col-md-3">
            <div class="footer-block-heading">CUSTOMER SERVICE</div>
            <ul class="txt">
                <li>About Us</li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/returnpolicy">Return Policy</a></li>
                <li>Sitemap</li>
                <li>How do i place an order?</li>
            </ul>
        </div>
        <div class="footer-block col-md-3">
            <div class="footer-block-heading">MY ACCOUNT</div>

            <ul class="txt">
                <li><a routerLink="/user">My Account</a></li>
                <li>Order History</li>
            </ul>
        </div>
        <div class="footer-block col-md-3">
            <div class="footer-block-heading">INFORMATION</div>

            <ul class="txt">
                <li><a routerLink="/shipdel">Shipping & Delivery Policy</a></li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Terms & Conditions</li>
                <li>Cancellation & Refund Policy</li>
                <li>Delivery Cities</li>
            </ul>
        </div>
    </div>
</footer>