<div class="container">
    <div class="ck-header">
        <h3><b>Checkout</b></h3>
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead >
                    <tr>
                        <th class="hed">Product Image</th>
                        <th class="hed">product name</th>
                        <th class="hed">Price</th>
                        <th class="hed">Quantity</th>
                        <th class="hed">Total</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
               
            </table>
        </div>
    </div>
    <!-- <form> -->
        <!-- <div class="view1">
            <div class="col-md-4" *ngFor="let item of data">
                <img src="{{item.img}}" class="card-img-top img" alt="no image">
            </div>
        </div> -->

    <!-- </form> -->
</div>
