<div class="container ">
    <form>
        <div class="view1">
            <div class="dash">
                <h2><b>Dashboard</b></h2>
            </div>
            <div class="dash1">
                <p>Welcome to Nandhu's Cake's</p>
            </div>
            <div class="dash2">
                <h3><b>Thank You For Joining Us</b></h3>
            </div>
            <div class="dash3">
                <h3><b>CLick Here To Coninue Shopping</b></h3>
            </div>
            <div class="dash4">
                <h4><b>Advantages Of Nandhu's Cake</b></h4>
                <ul>
                    <li>Genuie Product Delivery</li>
                    <li>Easy Payment Facility</li>
                    <li>Support will be in your hand.</li>
                    <li>Your Smile is our Service</li>
                </ul>
            </div>
        </div>
    </form>

</div>
