
.main-body{
  
    width: 100%;
    display: inline-block;
}

h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: xx-large;
}

.right-section{
    height: 873px;
    margin-left:20px; ;
}

img{
    margin-left: 100px;
    margin-top: 10px;
    height: 150px;
    width: 200px;

}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding-left: 60px;
    text-align: center;
    
}
.btn1{
    margin-left: 50%;
}
.crd{
    border-color: rgb(228, 224, 224);
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 60px;
    height: 325px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.crd:hover{
    transform: scale(1.025);
    transition: 0.5s;
}
